.bodyn{
    background: linear-gradient(#000, rgb(206, 48, 24));
    
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
}
.home{
    width: 50%;
    height: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.content1{
    width: 100%;
    height: 100%;
    
    display: flex;
    
    
}
h1{
    color: white;
    font-size: 2.5em;
    font-weight:500;
    margin-top: 50px;
    
}
.logg-box{
height: 70%;

width: 45%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
.logg-box2{
height: 50%;

width: 10%;
display: flex;
justify-content: center;
align-items: center;
}
h2{
    color: white;
    font-size: 1.2em;
    font-weight:lighter;
    letter-spacing: 2px;
}
.text{
    width: 70%;
    height: 22px;
    border-radius: 4px;
    border-style: none;
    
    
}
input{
    width: 20%;
    height: 12px;
    border-radius: 4px;
    border-style: none;
    
    
}

::placeholder{
    opacity: .5;
    font-size: 0.8em;
}
.checkbox-box{
    width: 95%;
    height: 5%;
    
    display: flex;
    flex-direction: row;
}
.checkbox{
    height: 50%;
    width: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
    
}
a{
    color: #ffffffcf;
    text-decoration: none;
}
a:after{
color: #ffffff;
}
h3{
    color: #ffffffcf;
    font-size: 0.9em;
}
.loggin{
    width: 70%;
    height: 28px;
    background: #1a1919e2;
    border-radius: 4px;
    border-style: none;
    color: white;
    font-weight: bold;
}
.loggin:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.235);
}
.loggin-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 30%;
}
.end-box{
    width: 100%;
    height: 40%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.end-box1{
    width: 100%;
    height: 60%;
    
    display: flex;
    justify-content: center;
    align-items: start;
}
.google{
    width: 70%;
    height: 28px;
    font-weight: bold;
    border-radius: 4px;
    border-style: none;
}
.google:hover{
    cursor: pointer;
    background-color: #000;
    color: #ffffff;
}
.facebook{
    width: 70%;
    height: 28px;
    border-radius: 4px;
    border-style: none;
    background:#3471ebc8 ;
    color: white;
    font-weight: bold;
}
.facebook:hover{
   cursor: pointer;
  color: rgba(255, 255, 255, 0.705);
}
footer{
    background-color: rgb(67, 66, 66);
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    
}
P{
    margin: 0;
    margin-left: 40px;
    font-size: 0.7em;
    color: rgb(235, 227, 227);
    font-family: Arial, Helvetica, sans-serif;
    
}
@media (max-width: 1190px) {
    .home{
        width: 60%;
    }
}
@media (max-width: 1010px) {
    .home{
        width: 70%;
    }
}
@media (max-width: 865px) {
    .home{
        width: 80%;
    }
}
@media (max-width: 740px) {
    .home{
        width: 90%;
    }
}
@media (max-width: 665px) {
    .home{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .google{
        height: 35px;
        width: 80%;

    }
    .facebook{
        height: 35px;
        width: 80%;

    }
}
@media (max-width: 530px) {
    .google{
        height: 40px;
        width: 95%;

    }
    .facebook{
        height: 40px;
        width: 95%;

    }
}
@media (max-width: 450px) {
    .google{
        scale: 0.8;
        font-size: 11px;

    }
    .facebook{
        scale: 0.8;
        font-size: 11.5px;
    }
    h2{
        font-size: 12px;
    }
    footer p{
        font-size: 9px;
    }
    input{
      scale: 0.8;  
    }
    h3{
        font-size: 6px;
    }
    a{
        font-size: 8px;
    }
    .checkbox-box{
        width: 80%;
    }
    
}
@media (max-width: 375px) {
   .end-box .google{
        scale: 0.7;
        font-size: 9px;

    }
   .end-box1 .facebook{
        scale: 0.7;
        font-size: 10px;
    }
    h2{
        font-size: 12px;
    }
    footer p{
        font-size: 9px;
    }
    input{
      scale: 0.8;  
    }
    h3{
        font-size: 5px;
    }
    a{
        font-size: 6px;
    }
    .checkbox-box{
        width: 80%;
    }
    
}
@media (max-width: 307px) {
   .end-box .google{
        scale: 0.8;
        font-size: 7px;

    }
   .end-box1 .facebook{
        scale: 0.8;
        font-size: 8px;
    }
    h2{
        font-size: 12px;
    }
    footer p{
        font-size: 9px;
    }
    input{
      scale: 1;  
    }
    h3{
        font-size: 5px;
    }
    a{
        font-size: 6px;
    }
    .checkbox-box{
        width: 100%;
    }
    
}

    
